html, body{
    background-color:#08407c;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}


#mbc-grid-page, #home-content, #main-content, .important-content {
    min-width: 100vw;
    min-height: 100vh;
}

.skip-link{
    position: absolute;
    top: -90px;
    font-size: large;
    padding: 3%;
    border: #fcb900 2px solid;
    color:#08407c;
    background-color:white;
    height: 20px;   
}

.skip-link:focus {
    top: 35px;
    font-size: x-large;
    padding: 3%;
    border: #fcb900 2px solid;
    color:#08407c;
    background-color:white;
    height: 20px;
    margin-left: 10%;
}


.mbc-logo {
    width: 98%;
    height: 98%;
}

.navbar {
    background-color:  #08407c;
    grid-column: 1/3;
    padding-left: 2%;
    height: 50px;
}

main h1{
    justify-content: center;
    line-height: normal;
    color: white;
    font-size:x-large;
    background-color: #062546;
    border: #fcb900 2px solid;
    padding: 2%;
    text-align: center;
    font-weight: 800;
}

.h2 {
    background-color: #08407c;
    font-size: large;
    color: #fcb900;
    height: 50px;
    align-content: center;
    padding-left: 9%;
    font-weight: 800;
}

 #mission-paragraph {
    font-size: large;
    color: white;
    line-height: 170%;
    padding: 3% 10% 3% 10%;
}


.appointment-heading {
    background-color: #08407c;
    text-align: center;
    font-size: larger;
    color: white;
    background-color: #062546;
    font-weight: 800;
    padding: 3% 1% 2% 1%;
    border-top: #fcb900 2px dashed;
}

.shop-paragraph {
    border-bottom: #fcb900 2px dashed;
    color:white;
    background-color: #062546;
    font-size: large;
    text-align: center;
    line-height: 170%;
    padding: 1% 10% 3% 10%;
    margin-right: 0%;
}

.shop-paragraph a {
    color: #fcb900;
}
.who-we-are {
    background-color: #08407c;
    font-size: large;
    color: #fcb900;
    height: 50px;
    align-content: center;
    padding-left: 9%;
    font-weight: 800;
}

.wwa-paragraph {
    color: white;
    grid-column: 1/4;
    line-height: 170%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    font-size: large;
    padding-bottom: 4%;
}

.wwa-paragraph a {
    padding-bottom: 10%;
    color: #fcb900;
}



.wwp {
    background-color: #08407c;
    font-size: large;
    color: #fcb900;
    height: 50px;
    align-content: center;
    padding-left: 9%;
    padding-top: 5%;
    font-weight: 800;
}


.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
    text-align: center;
}


.icons > img {
    grid-column: 2/3;
    width: 100%;
    padding-bottom: 3%;
}

.icons > h6 {
    grid-column: 1/-1;
    color: #fcb900;
    justify-self: center;
    font-size: large;
    line-height: 170%;
    font-weight: 800;
    padding-bottom: 3%;
}

.icons > .icon-heading {
    grid-column: 1/-1;
    color: #fcb900;
    line-height: 150%;
    font-size: large;
    padding-bottom: 3%;
    font-weight: 800;
}


.h6-writing {
    color: #fcb900;
    text-align: center;
    line-height: 150%;
    grid-column: 1/-1;
    line-height: 120%;
    font-size: large;
}

.icons p {
grid-column: 1/-1;
text-align: center;
color: #fcb900;
line-height: 150%;
padding-top: 2%;
font-size: medium;
padding-right: 6%;
}



.links_and_such ul {
    padding: 5% 20% 5% 3%;
    font-size: large;
    width: 100%;
    background-color: #fcb900;
    display: flex;
    align-items: center;
    text-align: center;
}

li a {
    text-decoration: none;
    color:  #062546;
    font-weight: bold;
}

li a.active {
    text-decoration: underline;
    width: 100%;
}

li a:focus {
    outline: 2px solid #ffcc00;
    text-align: center;
}

li a:active {
    background-color: #062546;
}


#main-content body{
    font-family: Arial, sans-serif;
    font-size: large;
    background-color:#08407c;
    line-height: 130%;
    padding: 0;
    margin: 0;
}

.important_image{
    width:100%;
    height:100%;
    grid-column: 1/-1;
}
.academic_logo{
    width:100%;
}

.title {
    grid-column: 1/-1;
    font-weight: 800;
    color: white;
    font-size: x-large;
    border: #fcb900 solid 2px;
    background-color: #062546;
    align-self: center;
    padding: 2%;
}

.academic_calendar_link {
    grid-column: 1/3;
    text-align: center;
    line-height: 170%;
    margin: 2%;
    font-size: large;
    align-content: center;
}

.important_icon{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 2%;

}

.important_grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

main .academic_calendar_link a {
    color: hsl(44, 100%, 49%);
    width: 100%; 
}

#main-content h3, 
#main-content h4, 
#main-content h5, 
#main-content h6{
    font-family: 'Arial', sans-serif;
    grid-column: 1/2;
    line-height: 170%;
    padding: 3% 3% 0% 10%;
    color: #fcb900;
    font-weight: 800;
    font-size: larger;
    border-top: #fcb900 dashed 2px;
}


#main-content p {
    color: white;
    grid-column: 2/3;
    border-top: #fcb900 dashed 2px;
    font-size: large;
    line-height: 150%;
    padding-top: 3%;
    border-left: #fcb900 2px dashed;
}
#main-content p:last-child{
    border-bottom:none;
}
#main-content a {
    color: white;
    font-weight: 800;
}

footer{
    text-align: center;
    color: white;
    align-items: center;
    justify-items: center;
    justify-self: center;
    padding: 5% 0% 6% 1%;
    width: 100%;
    font-size:small;
    background-color: #062546;
    display: flex;
    flex-direction: column;
}


#main {
    font-family: Arial, sans-serif;
    font-size: large;
    background-color:#08407c;
    line-height: 130%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar2 {
    padding: 0;
    margin: 0;
}

.tutor_logo {
    width: 100%;
    height: 100%;
}

.tutor_title {
    font-weight: 800;
    padding-top: 2%;
    padding-bottom: 3%;
    line-height: 130%;
    background-color: #062546;
    border: #fcb900 2px solid;
    padding: 2%;
    font-size: x-large;
    justify-content: center;
    justify-self: center;
}

main p{
    padding-top: 3%;
}


main .program {
    color: white;
    font-size: large;
    line-height: 130%;
    padding-top: 3%;
}

main p{
    color: white;
    padding-left: 10%;
    padding-bottom: 3%;
    line-height: 130%;
    font-size: large;
    text-align: left;
    margin-right: 5%;
}

.tutor_links {
    line-height: 150%;
    grid-column: 2/3;
    text-align: left;
    list-style-type: disc;
    margin-left: 10%;
    font-size:large;
}

.tutor_bullet {
    color: #fcb900;
    font-weight: 800;
    font-size: large;
}

.tutor_bullet a{
    color:#fcb900;
    text-decoration: underline;
    font-size: large;
    }

.tutor_specific {
    font-size: large;
    list-style-type: none;
    padding-left: 4%;
    color: #fcb900;
}

.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10%;
}

.uhs_image{
    grid-column: 1/2;
    height: 75%;
    }

.bright_logo{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 75%;
        width: 75%;
        justify-self: center;
}

.happy_students{
        grid-column: 3/4;
        height: 75%;
        width: 100%;
}

.program{
    margin-bottom: 2%;

}
.tutoring{
    grid-column: 2/3;
    width: 100%;
    text-align: center;
}

.success_email {
    color:#fcb900;
}

footer a {
    color:#fcb900;
}



.success_portal_title {
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: 800;
    padding-bottom: 0%;
    margin-top: 3%;
    padding-top: 3%;
}


#home-content{
    font-family: Arial, sans-serif;
    font-size: xx-large;
    background-color:#08407c;
    line-height: 130%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.links_and_suchh ul{
    padding: 5% 20% 5% 3%;
    font-size: large;
    width: 100%;
    display: flex;
    background-color: #fcb900;
    align-items: center;
    text-align: center;
}


.welcome_title {
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: 800;
    line-height: normal;
    background-color: #062546;
    border: #fcb900 2px solid;
    padding:2%;
}


.welcome_title_second{
    line-height: 150%;
    text-align: center;
    color: white;
    font-size: large;
    padding-left: 5px;
    padding-top: 3%;
    margin: 2% 2% 0% 2%;
    padding-bottom: 0%;
}

.indexhead{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    border-bottom: #fcb900 2px solid;
    padding-left: 5%;
    background-color: #062546;
} 

.success_portal_title {
    padding: 3%;
    font-size: x-large;
}

.umsi_logo {
    height: 5%;
    width: 10%;
}


.welcome_title_two{
    grid-column: 1/4;
    text-align: left;
    color: white;
    padding-left: 3%;
    padding-bottom: 3%;
    margin: 3%;
    font-size: large;
    line-height: 150%;
}


.umsi_resources {
    list-style-type: disc;
    color: #fcb900;
    margin: 0% 2% 2% 4%;
    padding-left: 5%;
    line-height: 170%;
    padding-bottom:4%;
    font-size: large;
}


.umsi_resources li{
    grid-column: 1/2;
}

.homeicons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3%;
}


.mh_photo{
    width: 20%;
}

.books_photo{
    width: 20%;
}

.hands_photo{
    width: 30%
}

.physical_health{
    border-top: #fcb900 dashed 2px;
    grid-column: 1/4;
    background-color:#062546;
    color: white;
    text-align: left;
    padding: 4%;
    font-size: large;
    line-height: 150%;
}


.ph_head {
    font-weight: 600;
    padding-left: 10%;
    font-size: larger;
    padding-bottom: 2%;
}

.UHS {
    font-weight: 600;
    grid-column: 1/3;
    grid-row: 5/6;
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
}

.uhs_image{
    width: 100%;
}


.fig_cap_uhs{
    font-size: smaller;
    text-align: center;
    padding-bottom: 5%;
}



.mh_bullets{
    color: #fcb900;
    padding-top: 5%;
    font-weight: 600;
    padding-left: 4%;
    font-size: large;
    line-height: 150%;
}

#life-outside-classroom{
    grid-column: 1/4;
    color: white;
    text-align: left;
    padding-left: 4%;
    line-height: 150%;
    font-size: large;
    border-top: #fcb900 2px dashed;
}
#life-outside-classroom h2{
    font-weight: 600;
    font-size: larger;
    padding: 4%;
}


#life-outside-classroom p{
    padding-left: 4%;
    padding-right: 4%;
    padding-left: 4%;
    line-height: 150%;
    }

#life-outside-classroom strong{
    color: #fcb900;
    padding-left: 4%; 
    padding-left: 10%;
    font-size: large;
    line-height: 150%;
}

#life-outside-classroom ul li{
    color: white;
    padding-right: 4%; 
    padding-left: 2%;
    padding-top: 5%;
    font-size: large;
    line-height: 150%;
}

#life-outside-classroom li strong{
    list-style-type: disc;

    }

#life-outside-classroom li:last-child{
    padding-bottom: 3%;
}

#life-outside-classroom ul {
    list-style-type: disc;
}

#life-outside-classroom li {
    margin-bottom: 8px;
}

.errorpage {
    background-color: #062546;
}

.title404{
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.header404{
    color: white;
    display: flex;
    font-size: larger;
    justify-content: center;
}

.silly {
    width:70%;
}

.goback404 a{
    color: white;
    margin-left: 35%;
    font-size: x-large;
}

.goback404{
    margin-top: 5%;
}

.image404{
    margin: 5% 0% 5% 30%; 
    height:25%;
    width:50%;

}


@media screen and (min-width: 800px){

    .links_and_such ul {
        font-size: xx-large;
        gap: 9%;
        padding-left: 5%;
    }

    .links_and_suchh ul {
        font-size: xx-large;
        gap: 9%;
        padding-left: 5%;
        margin-top: 10%;
        padding-top: 5%;
    }

    .indexhead{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        border-bottom: #fcb900 4px solid;
        padding-left: 5%;
        background-color: #062546;
    }

    .success_portal_title {
        padding: 3%;
        font-size: xxx-large;
    }

    .umsi_logo {
        height: 5%;
        width: 10%;
    }


    .welcome_title{
        font-size: xxx-large;
        padding-bottom: 5%;
        padding-top: 5%;
        margin-bottom: 2%;
        background-color: #062546;
        border: #fcb900 4px solid;
    }

    .welcome_title_second{
        font-size: xxx-large;
        align-items: center;
        justify-content: center;
    }

    .welcome_title_two {
        font-size: xx-large;
    }

    .umsi_resources {
        font-size: xx-large;
    }

    .umsi_resources{
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.8s ease-out forwards;
      }
    
      .umsi_resources:nth-child(1) {
        animation-delay: 0.4s;
      }
      .umsi_resources:nth-child(2) {
        animation-delay: 0.7s;
      }
      .umsi_resources:nth-child(3) {
        animation-delay: 1s;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

    .physical_health {
        font-size: xx-large;
        border-top: #fcb900 4px dashed;
    }

    main p{
        font-size: xx-large;
        padding-top: 0%;
    }

    .UHS{
        font-size: x-large;
    }

    #life-outside-classroom{
        font-size: xx-large;
        border-top: #fcb900 4px dashed;
    }

    .mh_bullets {
        font-size: x-large;
    }

    #life-outside-classroom ul li {
        font-size: xx-large;
        padding-top: 0%;
        line-height: 170%;
        margin-top: 2%;
    }

    #life-outside-classroom strong {
        font-size: xx-large;
        padding-left: 0%;
        font-weight: 600;
    }

    #life-outside-classroom p{
        line-height: 170%;
        padding-top: 0%;
    }

    .advising{
        margin-top: 340%;
        font-size: x-large;
    }

    main p{
        margin-top: 0%;
        padding-left: 4%;
        line-height: 170%;
    }

    .mh_bullets{
        font-size: xx-large;
        padding-top: 1%;
        line-height: 170%;
    }


    .title {
        font-size: xxx-large;
        border: none;
        border: #fcb900 solid 4px;
        padding: 1.5%;
    }


    .academic_calendar_link{
        font-size: xx-large;
    }


    .academic_calendar_link{
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.8s ease-out forwards;
      }

      .academic_calendar_link {
        animation-delay: 0.4;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }


    .important_icon{
        width: 25%;
        margin-left: 35%;
        margin-bottom: 3%;
    }



    #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
        font-size: x-large;
        padding: 3% 3% 0% 7%;
        border-top: #fcb900 dashed 4px;
    }

    #main-content p{
        font-size: x-large;
        padding-left: 3%;
        padding-top: 2%;
        border-left: #fcb900 4px dashed;
        border-top: #fcb900 4px dashed;;
    }

    .mbc-logo{
        padding-top: 3%;
        height: 250%;
        width: 80%;
    }
    main h1{
        font-size: xxx-large;
        grid-column: 2/3;
        border: #fcb900 4px solid;
    }

    main .h2{
        font-size: xx-large;
        grid-column: 1/2;
        padding-top: 2%;
    }

    .who-we-are{
        font-size: xx-large;
        padding-top: 2%;
    }

    .wwp{
        font-size: xx-large;
        padding-top: 2%;
    }

    .appointment-heading {
        font-size: x-large;
        border-top: #fcb900 4px dashed;
    }

    .appointment-heading{
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.8s ease-out forwards;
      }

      .appointment-heading {
        animation-delay: 0.4;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }


    #mission-paragraph{
        font-size: xx-large;
    }

    .shop-paragraph {
        font-size: x-large;
        border-bottom: #fcb900 4px dashed;
    }

    .wwa-paragraph {
        font-size: x-large;
    }

    .youtube-video{
        margin-left: 30%;
    }


    .tutor_links{
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.8s ease-out forwards;
      }

      .tutor_links{
        animation-delay: 0.4;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

    .tutor_title{
        font-size: xxx-large;
        background-color: #062546;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 3%;
    }

    .tutor_bullet{
        font-size:xx-large;
        line-height: 130%;
    }

    .tutor_bullet a{
        font-size:xx-large;
        line-height: 130%;
    }


    .tutor_specific {
        font-size: xx-large;
        line-height: 130%;
    }

    .photos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 3%;
    }


   .uhs_image{
    grid-column: 1/2;
    height: 75%;
    }

    .bright_logo{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 75%;
        width: 75%;
        justify-self: center;
    }

    .happy_students{
        grid-column: 3/4;
        height: 75%;
        width: 100%;
    }

    h2.program{
        font-size: xx-large;
        padding-bottom: 0%;
        padding-top: 0%;
    }

    .icons > img {
        padding-top: 10%;
        width: 50%;
        justify-self: center;
    }

    .icons > h6{
        font-size: x-large;
        padding-bottom: 0%;
    }

    .icons > .icon-heading {
        font-size: x-large;
        padding-bottom: 0%;
    }

    .icons p {
        grid-column: 2/3;
        font-size: x-large;
        padding-right: 0%;
        text-align: center;

    }

    footer{
        line-height: normal;
        font-size: xx-large;
    }

    .umsi_email{
        color: #fcb900;
    }
    
    .skip-link{
        top: -100px;
    }
    
    .title404{
        font-size: xxx-large;
    }
    
    .header404{
        font-size: xx-large;
    }
    
    .silly {
        height:65%;
    }
    
    .goback404 a{
        margin-left: 30%;
        font-size: xx-large;
    }
    
    .goback404{
        margin-top: 5%;
        font-size: xx-large;
    }
    
    .image404{
        margin: 5% 0% 5% 25%; 
        height:35%;
    }



}